/* line 1, ../../sass/partials/video.scss */
.video-js {
  width: 100% !important;
  height: auto !important;
  min-height: 70vh !important;
  overflow: hidden;
}
/* line 6, ../../sass/partials/video.scss */
.video-js video.vjs-tech {
  width: 100%;
  height: auto;
  min-height: 70vh;
}
