{% load hramik_tags %}<div class="ui container">
    <div class="ui container column stackable grid">

        <div class="eleven wide column">

            <ya-map ya-zoom="10" ya-center="[38.0213,55.9605]"
                    style="height:50vh; width: 100%; display:block;"
                    ya-controls="zoomControl fullscreenControl"
            >

                <ya-geo-object
                        ya-source="{ geometry: { type: 'Point', coordinates: [37.9917,55.9060]}}"
                        ya-options="{iconLayout: 'default#image',iconImageHref:'/static/images/icons/baloon.png', iconImageSize:[230, 80],iconImageOffset: [-115, -80]}">

                </ya-geo-object>

            </ya-map>

            <div class="ui header" style="margin-top: 2rem;">Схема проезда</div>
            <img src="/media/nodephotos/schem.jpg" alt="Cхема проезда" class="ui fluid image" >
        </div>

        <div class="five wide column">

            <div class="ui divided items">

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/point.png" alt="">
                    <div class="middle aligned content">М.О, г. Щелково, ул. Октябрьская, д 2</div>
                </div>

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/phone.png" alt="">
                    <div class="middle aligned content">+7 (495) 741-79-42</div>
                </div>

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/phone.png" alt="">
                    <div class="middle aligned content">+7 (985) 536-58-58</div>
                </div>
                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/mail.png" alt="">
                    <div class="middle aligned content">info@metservisplus.ru</div>
                </div>
            </div>
        </div>
    </div>


</div>