<form class="ui form" action=".">

    <div class="ui stackable grid">

        <div class="four wide column">

            <div class="field">
                <label>Имя</label>
                <input type="text" name="name" placeholder="Имя">
            </div>

            <div class="field">
                <label>Емейл</label>
                <input type="email" name="email" placeholder="Емейл">
            </div>
        </div>


        <div class="twelve wide column">
            <div class="field">
                <label>Вопрос</label>
                <textarea rows="6"></textarea>
            </div>
        </div>
    </div>

    <div class="ui right aligned container">
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Согласен с обработкой моих персональных данных</label>
            </div>
        </div>

        <button class="ui red button" type="submit">Отправить</button>
    </div>
</form>

<div class="ui divider"></div>

            {% show_items col="50" template="faq" tags="question" order="-pub_date" %}