<div class="ui fluid top container">
    <div class="ui inverted vertical segment two column stackable middle aligned  grid container" style="background: transparent; padding-bottom: 3em;">

        <div class="ui column">
            <div class="ui inverted  header" style="font-size: 4em; line-height: 1em;">Металлопрокат производства НЛМК со склада и под заказ</div>

        </div>

        <div class="ui column" style="font-size: 2em; line-height: 1.2em;">


            <div></div>
            <div>с покрытием и без</div>
            <div>гибкий подход к каждому клиенту</div>

            <a class="ui primary button" href="/media/additional_files/Прайс-лист_05.05.2016.xlsx" style="margin: 2rem 0;">Скачать прайс-лист</a>


        </div>
    </div>

    <div class="ui fluid zavod vertical inverted blue basic segment container" style="background: url(/media/nodephotos/zavod.jpg) no-repeat 0 0; background-size: 100%; padding:
    3rem 0;">
        <div class="ui container">
            <div class="ui huge inverted header">
                <img src="/media/nodephotos/logo-nlmk.png" class="ui left floated  image">
                <div class="">
                    Многолетнее и плодотворное сотрудничество с Новолипецким металлургическим комбинатом.
                </div>
            </div>
        </div>
    </div>

    <div class="ui fluid profit grayradialgrad container" style="padding: 3em 0;">
        <div class="ui container column stackable grid">


            <div class="ui six wide column">
                <img class="ui fluid image" alt="" src="/media/nodephotos/img1.png">
            </div>


            <div class="ui ten wide column">
                <div class="ui divided items">

                    <div class="item">
                        <img class="ui right spaced image" src="/static/custom/images/icons/clock.png" alt="">
                        <div class="middle aligned content">15 лет беспрерывной работы на рынке</div>
                    </div>

                    <div class="item">
                        <img class="ui right spaced image" src="/static/custom/images/icons/like.png" alt="">
                        <div class="middle aligned content">Используем только 1-ый сорт металла</div>
                    </div>

                    <div class="item">
                        <img class="ui right spaced image" src="/static/custom/images/icons/fabric_two.png" alt="">
                        <div class="middle aligned content">Свое производство с агрегатами продольной резки</div>
                    </div>
                    <div class="item">
                        <img class="ui right spaced image" src="/static/custom/images/icons/resize.png" alt="">
                        <div class="middle aligned content">Листы, рулоны и штрипсы в соответствии с каталогом продукции НЛМК</div>
                    </div>
                    <div class="item">
                        <img class="ui right spaced image" src="/static/custom/images/icons/five.png" alt="">
                        <div class="middle aligned content">Максимальный срок выполнения заказа 5 дней при наличии металла на складе</div>
                    </div>
                    <div class="item">
                        <img class="ui right spaced image" src="/static/custom/images/icons/badge.png" alt="">
                        <div class="middle aligned content">Лучшее предложение на рынке по продаже металлического проката оптом</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ui fluid profit products container" style="padding: 3em 0;">
        <div class="ui container">
            {% show_items col="5" template="productions_cards" tags="production" columns="two" order="position" %}
        </div>
    </div>
</div>

