{% load thumbnail %}
{% load render_as_template %}
{% load hramik_tags %}
{% load solo_tags %}

<div class="ui head  container">

            <div class="ui bottom aligned stackable grid">

                <div class="logo title da header ten wide left aligned column">
                    {% if config.logo %}
                        <a href="{% url "home" %}" class="red"><img src="{{ config.logo.url }}" class="ui left floated image" alt="">
                    {% endif %}
                    </a>
                    {% if config.teaser %}
                        <span style=""> {{ config.teaser }}</span>
                    {% endif %}
                    </a>
                </div>


                <div class="six wide {% if request.user_agent.is_mobile %}center{% else %}right{% endif %} aligned computer column">

                </div>
            </div>

            {% if not request.user_agent.is_mobile %}
                <div class="ui blue inverted stackable menu">
                    {% include "menu/menu.html" %}
                </div>
            {% endif %}
        </div>