{% load hramik_tags %}{% load hramik_tags %}<div class="ui delivery container">
    <div class="ui huge header">Доставка</div>
    <div class="ui container column stackable grid">


        <div class="ui six wide column">
            <img class="ui fluid image" alt="" src="/media/nodephotos/img1.png">
        </div>


        <div class="ui ten wide column">
            <div class="ui divided items">

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/phone.png" alt="">
                    <div class="middle aligned content">Вы нам звоните с запросом</div>
                </div>

                <div class="item">
                    <img class="ui right spaced mini image" src="/static/custom/images/icons/mail_list.png" alt="">
                    <div class="middle aligned content">Высылайте заявку</div>
                </div>

                <div class="item">
                    <img class="ui right spaced mini image" src="/static/custom/images/icons/sign.png" alt="">
                    <div class="middle aligned content">мы согласовываем технические требования по металлу</div>
                </div>
                <div class="item">
                    <img class="ui right spaced mini image" src="/static/custom/images/icons/fabric.png" alt="">
                    <div class="middle aligned content">При наличии металла на складе срок отгрузки в течение 1-2 дней с момента оплаты</div>
                </div>
                <div class="item">
                    <img class="ui right spaced mini image" src="/static/custom/images/icons/track.png" alt="">
                    <div class="middle aligned content">Доставка металла может осуществиться как самовывозом, так и нашей доставкой до Вашего склада</div>
                </div>
                <div class="item">
                    <img class="ui right spaced mini image" src="/static/custom/images/icons/vagon.png" alt="">
                    <div class="middle aligned content">Есть возможность приобрести металл по Вашим техническим характеристикам под заказ напрямую с комбината</div>
                </div>
            </div>
            <p><b>Металл хранится в закрытом отапливаемом складе.</b></p>
        </div>

    </div>
</div>

<div class="ui fluid pack vertical inverted blue basic segment container" style="background: url(/media/nodephotos/zavod.jpg) no-repeat 0 0; background-size: 100%; padding:
    3rem 0;">
    <div class="ui container">
        <div class="ui huge inverted header">Упаковка металла позволяет транспортировать продукцию в любое время года и при любых погодных условиях на любые расстояния</div>
    </div>
</div>


<div class="ui rezka container">
    <div class="ui huge header">Резка</div>
    <p>Все работы выполняются на высококлассном оборудовании</p>
    <div class="ui medium header">Первая линия резки</div>

    <div class="ui container column stackable grid">


        <div class="ui six wide column">
            <img class="ui fluid image" alt="" src="/media/nodephotos/img3.jpg">
        </div>


        <div class="ui ten wide column">
            <div class="ui medium header">Обрабатывает металл</div>
            <div class="ui divided items">

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/wide.png" alt="">
                    <div class="middle aligned content">
                        <div class="ui right floated">от 0,23 мм до 2,5 мм</div>
                        <div>толщиной</div>
                    </div>
                </div>

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/wide.png" alt="">
                    <div class="middle aligned content">
                        <div class="ui right floated">до 1325 мм</div>
                        <div>шириной</div>
                    </div>
                </div>

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/arrows.png" alt="">
                    <div class="middle aligned content">
                        <div class="ui right floated">600 мм</div>
                        <div>внутренний диаметр рулона</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui divider"></div>


<div class="ui  rezka container">
    <div class="ui medium header">Вторая линия резки</div>

    <div class="ui container column stackable grid">


        <div class="ui six wide column">
            <img class="ui fluid image" alt="" src="/media/nodephotos/img4.jpg">
        </div>


        <div class="ui ten wide column">
            <div class="ui medium header">Обрабатывает металл</div>
            <div class="ui divided items">

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/tools.png" alt="">
                    <div class="middle aligned content">
                        <div class="ui right floated">от 0,23мм до 1 мм</div>
                        <div>толщиной</div>
                    </div>
                </div>

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/wide.png" alt="">
                    <div class="middle aligned content">
                        <div class="ui right floated">до 450</div>
                        <div>шириной</div>
                    </div>
                </div>

                <div class="item">
                    <img class="ui right spaced image" src="/static/custom/images/icons/arrows.png" alt="">
                    <div class="middle aligned content">
                        <div class="ui right floated">270 мм</div>
                        <div>внутренний диаметр рулона</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui divider"></div>


<div class="ui teaser center aligned container">
    <a class="ui primary button" href="/media/additional_files/Прайс-лист_05.05.2016.xlsx" style="margin-bottom: 2rem;">Скачать прайс-лист</a>
</div>
