0,45 RAL 9003	64 800  	64 300  	64 000
0,45 RAL 8017	64 800  	64 300  	64 000
0,45 RAL 6005	64 800  	64 300  	64 000


<div class="ui divider"></div>
<div class="ui header">Прайс-лист</div>

<table class="ui striped  table">
<thead>
<tr>
<th>Продукция</th>
<th>5-15тн</th>
<th>20-50тн</th>
<th>от 60тн</th>
</tr>
</thead>
<tbody>
<tr>
<td>0,45 RAL 9003</td>
<td>64 800 &#8381;</td>
<td>64 300 &#8381;</td>
<td>64 000 &#8381;</td>
</tr>
<tr>
<td>0,45 RAL 8017</td>
<td>64 800 &#8381;</td>
<td>64 300 &#8381;</td>
<td>64 000 &#8381;</td>
</tr>
<tr>
<td>0,45 RAL 6005</td>
<td>64 800 &#8381;</td>
<td>64 300 &#8381;</td>
<td>64 000 &#8381;</td>
</tr>
</tbody>

</table>

<div class="ui divider"></div>

<div class="ui two column grid">
<div class="column">Ширина рулонов может варьироваться&nbsp;от 1000мм до 1500мм. Возможна продольная резка рулонов. Цена и условия на резку согласовывается дополнительно.</div>
<div class="column">Цена указана с учетом НДС 18% на складе в г.Щелково. Цены представлены на условиях 100% предоплаты. Возможны прямые поставки с завода </td>
</div>

<p>Прайс-лист действителен с 19.04.2016г.</p>