<div class="ui divided items">

    {% for item in items %}
    <div class="ui item" style="">

        <div class="content">


            {% if not not_time %}
            <div class="meta">{{ item.pub_date|timesince }} назад</div>
            {% endif %}

            {% if not not_desc %}
            <div class="description">
                <div class="question" style="font-weight: bold; margin-bottom: 1em;">
                    {{ item.teaser|safe }}
                </div>
                <div class="answer">
                    {{ item.body | safe }}
                </div>

                <a href="{% url 'page' item.slug %}" class="small read_more">Постоянная страница</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>