<div class="ui divider"></div>

<div class="ui  footer container basic fluid segment">
    <div class="ui middle aligned three column page grid">

        <div class="ui column">
            {% if config.logo %}
                <div>
                    <a href="{% url "home" %}"><img src="{{ config.logo.url }}" class="ui medium image" alt=""></a>
                </div>
            {% endif %}

            {% if config.teaser %}
                <div>{{ config.teaser }}</div>
            {% endif %}

            {% if config.copyright %}
                <div class="small">{{ config.copyright }}</div>
            {% endif %}
        </div>
    
    

        <div class="ui center aligned column">
            <a href="/sitemap">Карта сайта</a>
        </div>
    
        <div class="ui right aligned column">
            <div class="ui tags {% if request.user_agent.is_mobile %}center{% else %}right{% endif %} aligned  container" style="">
                <div class="ui inverted medium header"><a href="tel:+7 (495) 741-79-42">+7 (495) 741-79-42</a><br/><a href="tel:+7 (985) 536-58-58">+7 (985) 536-58-58</a></div>

            </div>

        </div>
        <!--LiveInternet counter-->
        <script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click' " +
                "target=_blank><img src='//counter.yadro.ru/hit?t45.10;r" +
                escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                        screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                ";" + Math.random() +
                "' alt='' title='LiveInternet' " +
                "border='0' width='31' height='31'><\/a>")
        //--></script><!--/LiveInternet-->
    </div>
</div>