{% load thumbnail %}
{% load render_as_template %}
{% load hramik_tags %}

{% include "node/parts/admin_links.html" with one_page=True %}


{% if page.title and page.show_title_in_page %}
    <div class="ui left aligned container">
        <h1 class="ui da left aligned header">{{ page.title }}</h1>
        {% if page.second_title %}<h2 class="ui da left aligned header">{{ page.second_title }}</h2>{% endif %}
    </div>
{% endif %}

{#BODY#}
<div class="ui body container">

    {% if page.body_clear %}
        {% render_as_template page.body|safe %}
    {% else %}
        {{ page.body|linebreaks|urlize }}
    {% endif %}

</div>

<div class="ui body container">
    <div class="ui divider"></div>
</div>

{#TEASER#}
{% if page.teaser %}
    <div class="ui teaser container">{{ page.teaser|safe }}</div>
{% endif %}

{#VIDEO#}
{% if page.video %}
    <div class="ui video container">
        <div class="ui embed" data-source="youtube" data-id="{{ page.video }}" data-placeholder="/media/{{ page.image }}">
        </div>
    </div>
    {#MAIN PHOTO#}
{% elif page.image and page.show_image_in_page %}
    <div class="ui container">
        <img class="ui fluid image" src="{{ page.image.url }}"></img>
    </div>
{% endif %}

{% if page.photos.all %}

    <div class="ui container">
        <div class="slideshow">
            {% for item in page.photos.all %}
                {% if not photo.position == 0 %}
                    <img src="{{ item.photo.url }}" alt="" class="ui fluid image">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}




{% if not front %}
    <div class="ui center aligned container">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="facebook,vkontakte,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
        <div class="small">При перепосте просьба делать активную ссылку</div>
    </div>
{% endif %}




